DatabaseManager/DatabaseManager/Connected Services/TagService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TagDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alarms" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighLimit" type="xs:double" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IoAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowLimit" type="xs:double" />
      <xs:element minOccurs="0" name="OnOffScan" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScanTime" type="xs:int" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagDto" nillable="true" type="tns:TagDto" />
</xs:schema>