DatabaseManager/DatabaseManager/Connected Services/TagService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/SCADA/TagController/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" />
  <xs:element name="GetTagValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTagValueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" minOccurs="0" name="tagDto" nillable="true" type="q1:TagDto" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOutputValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newValue" type="xs:double" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOutputValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOutputValueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnScanOnOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="onOff" type="xs:boolean" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnScanOnOffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" minOccurs="0" name="GetAllTagsResult" nillable="true" type="q2:ArrayOfBaseTagInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alarmName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" minOccurs="0" name="GetAlarmResult" nillable="true" type="q3:AlarmDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvokedAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvokedAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" minOccurs="0" name="GetInvokedAlarmsResult" nillable="true" type="q4:ArrayOfAlarmDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" minOccurs="0" name="newAlarm" nillable="true" type="q5:AlarmDto" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" minOccurs="0" name="CreateAlarmResult" nillable="true" type="q6:AlarmDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alarmName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" minOccurs="0" name="DeleteAlarmResult" nillable="true" type="q7:AlarmDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" minOccurs="0" name="updatedAlarm" nillable="true" type="q8:AlarmDto" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" minOccurs="0" name="UpdateAlarmResult" nillable="true" type="q9:AlarmDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" minOccurs="0" name="GetAlarmsByTagResult" nillable="true" type="q10:ArrayOfAlarmDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" minOccurs="0" name="GetAllAlarmsResult" nillable="true" type="q11:ArrayOfAlarmDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>