DatabaseManager/DatabaseManager/Connected Services/TagService/TagController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TagController" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/SCADA/TagController/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/SCADA/TagController/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/SCADA/TagController/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADA_Core.DTOs" />
      <xsd:import schemaLocation="http://localhost:8733/SCADA/TagController/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SCADA_Core.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITagController_GetTagValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValue" />
  </wsdl:message>
  <wsdl:message name="ITagController_GetTagValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValueResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_AddTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTag" />
  </wsdl:message>
  <wsdl:message name="ITagController_AddTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_RemoveTag_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTag" />
  </wsdl:message>
  <wsdl:message name="ITagController_RemoveTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_ChangeOutputValue_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOutputValue" />
  </wsdl:message>
  <wsdl:message name="ITagController_ChangeOutputValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOutputValueResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_GetOutputValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputValue" />
  </wsdl:message>
  <wsdl:message name="ITagController_GetOutputValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputValueResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_TurnScanOnOff_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOnOff" />
  </wsdl:message>
  <wsdl:message name="ITagController_TurnScanOnOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOnOffResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_GetAllTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTags" />
  </wsdl:message>
  <wsdl:message name="ITagController_GetAllTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagsResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_GetAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarm" />
  </wsdl:message>
  <wsdl:message name="ITagController_GetAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_GetInvokedAlarms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvokedAlarms" />
  </wsdl:message>
  <wsdl:message name="ITagController_GetInvokedAlarms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvokedAlarmsResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_CreateAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAlarm" />
  </wsdl:message>
  <wsdl:message name="ITagController_CreateAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_DeleteAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlarm" />
  </wsdl:message>
  <wsdl:message name="ITagController_DeleteAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_UpdateAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAlarm" />
  </wsdl:message>
  <wsdl:message name="ITagController_UpdateAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="ITagController_GetAlarmsByTag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByTag" />
  </wsdl:message>
  <wsdl:message name="ITagController_GetAlarmsByTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByTagResponse" />
  </wsdl:message>
  <wsdl:portType name="ITagController">
    <wsdl:operation name="GetTagValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/GetTagValue" message="tns:ITagController_GetTagValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/GetTagValueResponse" message="tns:ITagController_GetTagValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/AddTag" message="tns:ITagController_AddTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/AddTagResponse" message="tns:ITagController_AddTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/RemoveTag" message="tns:ITagController_RemoveTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/RemoveTagResponse" message="tns:ITagController_RemoveTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOutputValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/ChangeOutputValue" message="tns:ITagController_ChangeOutputValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/ChangeOutputValueResponse" message="tns:ITagController_ChangeOutputValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutputValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/GetOutputValue" message="tns:ITagController_GetOutputValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/GetOutputValueResponse" message="tns:ITagController_GetOutputValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TurnScanOnOff">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/TurnScanOnOff" message="tns:ITagController_TurnScanOnOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/TurnScanOnOffResponse" message="tns:ITagController_TurnScanOnOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTags">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/GetAllTags" message="tns:ITagController_GetAllTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/GetAllTagsResponse" message="tns:ITagController_GetAllTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/GetAlarm" message="tns:ITagController_GetAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/GetAlarmResponse" message="tns:ITagController_GetAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvokedAlarms">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/GetInvokedAlarms" message="tns:ITagController_GetInvokedAlarms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/GetInvokedAlarmsResponse" message="tns:ITagController_GetInvokedAlarms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/CreateAlarm" message="tns:ITagController_CreateAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/CreateAlarmResponse" message="tns:ITagController_CreateAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/DeleteAlarm" message="tns:ITagController_DeleteAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/DeleteAlarmResponse" message="tns:ITagController_DeleteAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/UpdateAlarm" message="tns:ITagController_UpdateAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/UpdateAlarmResponse" message="tns:ITagController_UpdateAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagController/GetAlarmsByTag" message="tns:ITagController_GetAlarmsByTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagController/GetAlarmsByTagResponse" message="tns:ITagController_GetAlarmsByTag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITagController" type="tns:ITagController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTagValue">
      <soap:operation soapAction="http://tempuri.org/ITagController/GetTagValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <soap:operation soapAction="http://tempuri.org/ITagController/AddTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <soap:operation soapAction="http://tempuri.org/ITagController/RemoveTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOutputValue">
      <soap:operation soapAction="http://tempuri.org/ITagController/ChangeOutputValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputValue">
      <soap:operation soapAction="http://tempuri.org/ITagController/GetOutputValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnScanOnOff">
      <soap:operation soapAction="http://tempuri.org/ITagController/TurnScanOnOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTags">
      <soap:operation soapAction="http://tempuri.org/ITagController/GetAllTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarm">
      <soap:operation soapAction="http://tempuri.org/ITagController/GetAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvokedAlarms">
      <soap:operation soapAction="http://tempuri.org/ITagController/GetInvokedAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAlarm">
      <soap:operation soapAction="http://tempuri.org/ITagController/CreateAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlarm">
      <soap:operation soapAction="http://tempuri.org/ITagController/DeleteAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarm">
      <soap:operation soapAction="http://tempuri.org/ITagController/UpdateAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByTag">
      <soap:operation soapAction="http://tempuri.org/ITagController/GetAlarmsByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TagController">
    <wsdl:port name="BasicHttpBinding_ITagController" binding="tns:BasicHttpBinding_ITagController">
      <soap:address location="http://localhost:8733/SCADA/TagController/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>